<div style="width: 100%; height: 100%">
  <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0">
    <iframe
      src="https://map.openchargemap.io/?mode=embedded"
      allow="geolocation"
      frameborder="0"
      style="height: 100% !important; width: 100% !important; z-index: 999"
    ></iframe>
    <div
      style="
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(18, 16, 112, 0.192);
        pointer-events: none;
      "
    ></div>

    <div
      style="
        width: 100%;
        height: 100%;
        z-index: 999;
        position: absolute;
        bottom: 10%;
        top: 0;
        left: 0;
        right: 10%;

        padding: 90px;
      "
    >
      <div
        style="
          width: 100%;
          height: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        "
      >
        <p-button
          type="button"
          (click)="showDialog()"
          icon="pi pi-map-marker"
          label="REGISTRAR NUEVO PUNTO"
        >
        </p-button>
      </div>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="999">
  <h3>Left Sidebar</h3>
</p-sidebar>

<p-sidebar
  [style]="{ 'background-color': 'red' }"
  styleClass="p-sidebar-md"
  [(visible)]="visibleSidebar2"
  position="right"
  [baseZIndex]="999"
>
</p-sidebar>

<p-dialog header="SELECT VEHICULE" [(visible)]="display">
  <div
    class="customDialog"
    style="height: 700px; width: 600px; background: white"
  >
    <h3 style="color: white; font-weight: bold">REGISTRAR NUEVO VEHICULO</h3>

    <div style="display: flex; flex-direction: column; height: 100%">
      <div style="width: 100%; display: flex">
        <div
          style="
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <img
            style="
              border-radius: 50%;
              object-fit: cover;
              height: 150px;
              width: 150px;
            "
            src="https://i.pinimg.com/originals/c8/1a/62/c81a62b46677b485c5f91fdb031b5347.jpg"
          />
        </div>
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          padding-top: 22px;
          margin-top: 22px;
          align-items: center;
        "
      >
        <div style="display: flex; flex: 1">
          <span style="font-weight: bold">BRAND</span>
        </div>
        <div style="display: flex; flex: 3">
          <select style="width: 100%; height: 40px">
            <option style="color: black">SELECCIONAR ELEMENTO</option>
          </select>
        </div>
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          padding-top: 22px;
          align-items: center;
        "
      >
        <div style="display: flex; flex: 1">
          <span style="font-weight: bold">MODEL</span>
        </div>
        <div style="display: flex; flex: 3">
          <select style="width: 100%; height: 40px">
            <option style="color: black">SELECCIONAR ELEMENTO</option>
          </select>
        </div>
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          padding-top: 22px;
          align-items: center;
        "
      >
        <div style="display: flex; flex: 1">
          <span style="font-weight: bold; color: black">TYPE</span>
        </div>
        <div style="display: flex; flex: 3">
          <select style="width: 100%; height: 40px">
            <option style="color: black">SELECCIONAR ELEMENTO</option>
          </select>
        </div>
      </div>

      <div style="width: 100%; display: flex; padding-top: 62px">
        <div
          style="
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            height: 60px;
            padding: 12px;
          "
        >
          <div
            style="
              display: flex;
              flex: 1;
              justify-content: center;
              align-items: center;
              height: 60px;
              background: gainsboro;
            "
          >
            <span style="font-weight: bold; color: black">TYPE</span>
          </div>
        </div>
        <div
          style="
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            height: 60px;
            padding: 12px;
          "
        >
          <div
            style="
              display: flex;
              flex: 1;
              justify-content: center;
              align-items: center;
              height: 60px;
              background: gainsboro;
            "
          >
            <span style="font-weight: bold; color: black">TYPE</span>
          </div>
        </div>
      </div>
      <div style="width: 100%; display: flex; margin-top: 12px">
        <div
          style="
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            height: 60px;
            padding: 12px;
          "
        >
          <div
            style="
              display: flex;
              flex: 1;
              justify-content: center;
              align-items: center;
              height: 60px;
              background: gainsboro;
            "
          >
            <span style="font-weight: bold; color: black">TYPE</span>
          </div>
        </div>
        <div
          style="
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            height: 60px;
            padding: 12px;
          "
        >
          <div
            style="
              display: flex;
              flex: 1;
              justify-content: center;
              align-items: center;
              height: 60px;
              background: gainsboro;
            "
          >
            <span style="font-weight: bold; color: black">TYPE</span>
          </div>
        </div>
      </div>

      <div style="width: 100%; display: flex; margin-top: 42px">
        <div
          style="
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            height: 60px;
            padding: 12px;
          "
        >
          <div
            style="
              display: flex;
              flex: 1;
              justify-content: center;
              align-items: center;
              height: 60px;
              background: gainsboro;
            "
          >
            <span style="font-weight: bold; color: black">GUARDAR</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
